.app {
  background-color: hsl(42, 79%, 94%);
  min-height: 100vh;
  width: 90%;
  font-family: "Bagel", Helvetica, sans-serif;
  visibility: hidden;
  position: fixed;
}

.app_open {
  visibility: visible;
}
