.buttons {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.buttons__button {
  width: 12vw;
  height: 3vw;
  font-family: "Courier New", Courier, monospace;
  border-radius: 8px;
  border: none;
  background: radial-gradient(rgb(255, 255, 255), rgb(64, 117, 253));
}

.buttons__button:hover {
  background: radial-gradient(rgb(255, 255, 255), rgb(5, 75, 251));
}

#close-btn {
  background: radial-gradient(rgb(255, 255, 255), rgb(251, 5, 5));
}

#close-btn:hover {
  background: radial-gradient(rgb(255, 255, 255), rgb(213, 1, 1));
}
